# Rename this file to terraform.tfvars and update the values accordingly

# Primary region AWS configuration
region              = "us-east-1"
prefix              = "al"
ami_id              = "ami-0aa2b7722dc1b5612" # Ubuntu 20.04 LTS in us-east-1 -- Replace with a valid Ubuntu AMI for your region

# DR region configuration
secondary_region    = "us-west-2"
dr_ami_id           = "ami-03d5c68bab01f3496" # Ubuntu 20.04 LTS in us-west-2
dr_mode             = "pilot-light"           # Options: "pilot-light" or "active-passive"

# Admin details
admin_username      = "ubuntu"
ssh_public_key_path = "~/.ssh/id_rsa.pub"
admin_ip_address    = "YOUR_IP_ADDRESS"  # Replace with your IP address for secure SSH access

# Database details
mysql_admin_password    = "StrongP@ssw0rd123!"  # Must contain uppercase, lowercase, numbers and special characters
mongodb_admin_password  = "AnotherStr0ngP@ssw0rd!"  # Must contain uppercase, lowercase, numbers and special characters

# Domain details
domain_name         = "uat.adhere.live"  # Must have at least two labels (e.g., example.com)
email               = "gagneet.singh@adhere.live"  # Replace with your email for Let's Encrypt
