# Rename this file to terraform.tfvars and update the values accordingly

# AWS configuration
region              = "us-east-1"
prefix              = "al"
ami_id              = "ami-084568db4383264d4" # Replace with a valid Ubuntu AMI for your region

# Admin details
admin_username      = "ubuntu"
ssh_public_key_path = "~/.ssh/id_rsa.pub"
admin_ip_address    = "YOUR_IP_ADDRESS"  # Replace with your IP address for secure SSH access

# Database details
mysql_admin_password    = "StrongP@ssw0rd123!"  # Must contain uppercase, lowercase, numbers and special characters
mongodb_admin_password  = "AnotherStr0ngP@ssw0rd!"  # Must contain uppercase, lowercase, numbers and special characters

# Domain details
domain_name         = "uat.adhere.live"  # Must have at least two labels (e.g., example.com)
email               = "gagneet.singh@adhere.live"  # Replace with your email for Let's Encrypt